@import "./variables", "placeholders"
*
  box-sizing: border-box

body
  font-family: "Helvetica Neue", Helvetica, "PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif
  font-size: $font-normal
  min-width: $min-width
  overflow-x: auto
  overflow-y: hidden
  color: #333
.clear
  clear: both


